body {
    background-color: #333;
    color: #ddd;
    font-family: "Slabo 27px", serif;
    font-style: normal;
    font-weight: 400;
}

#app {
}

#app a:link,
#app a:visited,
#app a:active,
#app a:hover,
#app a {
    color: #fff;
    text-decoration: none;
}
